@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #333;
}

code {
  font-family: 'Roboto Mono', monospace;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 0.2em 0.4em;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
